html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #EEEEEE;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* disables Edge built-in show/hide password icon  */
::-ms-reveal {
  display: none;
}

::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.00);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.1);
  outline: 1px solid slategrey;
}

.MuiButton-root {
  text-transform: unset !important;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

/* .phrase  */

.phrase::-webkit-scrollbar {
    -webkit-appearance: none;
}

.phrase::-webkit-scrollbar:vertical {
    width:10px;
}

.phrase::-webkit-scrollbar-button:increment,.phrase::-webkit-scrollbar-button {
    display: none;
} 

.phrase::-webkit-scrollbar:horizontal {
    height: 10px;
}

.phrase::-webkit-scrollbar-thumb {
    background-color: #E5E7E9;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.phrase::-webkit-scrollbar-track {
    border-radius: 10px;  
}

/* .footer__card */


.leaflet-container {
    width: 100%;
    height: 100%;
}

